{% extends 'layouts/application.html' %}

{% block content %}
<div id="canvas" class="canvas">
  <canvas id="canvas-main" class="canvas__main"></canvas>
</div>

<div class="container">
  <h1>Marcel Legane</h1>

  <h2>Front End Developer</h2>

  <p>I've built things for <a href="#">Heineken</a>, <a href="#">Sainsbury's</a>, <a href="#">The New York Times</a>,
    <a href="#">Mozilla</a>, <a href="#">British Heart Foundation</a>
    and the <a href="#">London Fire Brigade</a>.</p>
</div>
{% endblock %}