{% extends 'layouts/application.html' %}

{% block content %}
<div id="canvas" class="canvas">
  <canvas id="canvas-main" class="canvas__main"></canvas>
</div>

<div class="container">
  <h1>Marcel Legane</h1>

  <h2>Front End Developer</h2>

  <p>I've built things for <a target="_blank" href="https://paidpost.nytimes.com/credit-suisse/forward-thinkers/entrepreneurship-takes-flight.html">The
      New York Times</a>, <a target="_blank" href="https://www.about.sainsburys.co.uk/about-us/live-well-for-less/living-well-index">Sainsbury's</a>
    and <a target="_blank" href="http://yourenotgonnareadthis.niceandserious.com/">Heineken</a>. Made a <a target="_blank"
      href="https://uglydrinks.co.uk">beverage
      store</a>, an <a target="_blank" href="https://www.nesta.org.uk/data-visualisation-and-interactive/helping-innovation-happen/">innovation
      spiral</a>(?) and helped explain how to <a target="_blank" href="http://touch-yourself.com">touch yourself</a>.</p>

  <p>I'm currently travelling. But will soon be looking to build more things.<br>In Manchester.</p>
</div>
{% endblock %}