@mixin flow($ratio: 1.25) {
  > * + * {
    margin-top: $ratio * 1em;
  }
}

@mixin fluid-type($ratio: 1) {
  $min-font-size: 16 * $ratio;
  $max-font-size: 21 * $ratio;
  $min-font-size-em: em($min-font-size);
  $max-font-size-em: em($max-font-size);
  $min-vw: 500;
  $max-vw: 1560;
  $min-vw-em: em($min-vw);
  $max-vw-em: em($max-vw);
  font-size: $min-font-size-em;
  
  @media screen and (min-width: $min-vw-em) {
    font-size: calc(#{$min-font-size-em} + #{$max-font-size - $min-font-size} * ((100vw - #{$min-vw-em}) / #{$max-vw - $min-vw)}));
  }
  
  @media screen and (min-width: $max-vw-em) {
    font-size: $max-font-size-em;
  }
}

@mixin text-underline-crop($background) {
  text-shadow:  .03em 0 $background, 
                -.03em 0 $background,
                0 .03em $background,
                0 -.03em $background,
                .06em 0 $background,
                -.06em 0 $background,
                .09em 0 $background,
                -.09em 0 $background,
                .12em 0 $background,
                -.12em 0 $background,
                .15em 0 $background,
                -.15em 0 $background;
}

@mixin text-underline($color-bg, $color-text) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
}

@mixin text-selection($selection) {
  &::selection {
    @include text-underline-crop($selection);
    background: $selection;
  }

  &::-moz-selection {
    @include text-underline-crop($selection);
    background: $selection;
  }
}

@mixin link-underline($background, $text, $selection){
  @include text-underline-crop($background);
  @include text-underline($background, $text);
  @include text-selection($selection);

  color: $text;
  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
    text-shadow: none;
  }

  &:visited {
    color: $text;
  }
}