.image {
  position: fixed;
  width: 25vw;
  pointer-events: none;
  border: rem(3) solid $black;
  background: {
    repeat: no-repeat;
    position: center;
    size: cover;
  }
  opacity: 0;
  transition: opacity 0.1s ease;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: percentage(550/1000);
  }
}